@charset "utf-8";
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}



.nav_bar {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

/* Navigation bar at the top of each page */
ul.toc li {
    width: auto;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    /*background-color: #e7e7e7;*/
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    float: left;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
}
ul.toc li:last-of-type {
    border-right: 1px solid black;
}

img.id {
    max-width: 100%;
    max-height: 800px
}

img.category {
    max-width: 1000px;
    /*max-height: 400px*/
}

.compare {
    max-width: 400px;
}