{% extends 'base5.twig' %}

{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", add_field);
    </script>
    <form method="post">
        <div id="fields"></div>
        <p><input type="submit" value="Compare" class="btn btn-primary"/></p>
    </form>
{% endblock %}