{% extends 'base.html' %}

{% block content %}
<form method="post" action="managecomics_process.php">
    <input type="hidden" name="comic" value="{{comic}}">
    <input type="hidden" name="site" value="{{site}}">
    <input type="hidden" name="mode" value="{{mode}}">

    <input type="submit" name="button" value="Submit"/>

    {% for release in releases|slice(0,20) %}
    <div>
        {% include 'image.html' %}<br />
        {% include mode ~ '.html' %}
    </div>
    {% endfor %}
    <input type="submit" name="button" value="Submit"/>
</form>

{% endblock %}