<span>Original date:</span>
<input type="text" class="original_date" name="release[{{release.date}}][value]" id="{{release.date}}" onchange="generate_link(this)" />
<span class="fill_date" onclick="use_release_date(this)">Use release date</span>
<span id="link_{{ release.date }}" ></span>