{% extends 'base.twig' %}

{% block content %}
    <h1>{{ header }}</h1>
    {% for file,name in tools %}
        <a href="?comic={{ comic.id }}&tool={{ file }}">{{ name }}</a><br />
    {% endfor %}

{% endblock %}