{% extends 'base5.twig' %}

{% block content %}
    <form method="get" id="form">
        <input name="comic" type="hidden" value="{{ comic.id }}" />
        {% include 'includes/select_key_field.twig' %}
        <label for="key"></label>
        <input type="text" id="key" name="key" />
        <input type="submit" class="btn btn-primary" /></form>
{% endblock %}