{% extends 'base.twig' %}

{% block content %}
    <form method="get" id="form">
        <input name="comic" type="hidden" value="{{ comic.id }}" />
        <label for="keyfield">Key field:</label>
        <select name="keyfield" id="keyfield">
            {% for keyfield in key_fields %}
                <option>{{ keyfield }}</option>
            {% endfor %}
        </select>
        <label for="key"></label>
        <input type="text" id="key" name="key" />
        <input type="submit" /></form>
{% endblock %}