{% extends 'base5.twig' %}

{% block content %}
    <h2>{{ header }}</h2>
    {% for file,name in tools %}
        <a class="btn btn-primary" href="?comic={{ comic.id }}&tool={{ file }}">{{ name }}</a><br/>
    {% endfor %}
{% endblock %}