{% extends 'base5.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ root }}/comicmanager.css">
{% endblock %}

{% block content %}
    {% for key, release in releases %}
        {% if release.error is defined %}
            <p>{{ release.error }}</p>
        {% else %}
            <p>
                {% if release.image is defined %}
                    {% include 'image.twig' %}
                {% endif %}
            </p>
        {% endif %}
    {% endfor %}

{% endblock %}